body{
    background-image: url("background.jpg");
    font-family: 'Pacifico', cursive;
}
.btn-info, .btn-success{
    color: darkgreen;
    width: 100%;
    font-size: 20px;
}
#takeSnap{
    font-size: 20px;
}
.btn-warning:hover{
    background-color: blueviolet;
    border-color: blueviolet;
}
canvas{
    animation-name: clownNose;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes clownNose {
    from{box-shadow: 1px 1px 38px red;}
    to{box-shadow: 1px 1px 38px yellow;}
}